<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> <!-- mobile viewport -->
    <title>hacksi.me: {{title}}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hacksi">
    <meta name="twitter:image:src" content="https://si0.twimg.com/profile_images/378800000370498044/779eac9b73ffbd3a949b1946ce6bd620_bigger.png">
    <meta property="og:title" content="Southern Illinois Hackathon"/>
    <meta property="og:url" content="http://hacksi.me/"/>
    <meta property="og:site_name" content="HackSI"/>
    <meta property="og:image" content="http://hacksi.me/img/logo.jpg"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:description" content="The first ever Southern Illinois Hackathon. What can you build in 48 hours?"/>
    {{addCSS "/css/responsive-nav.css"}}
    {{addCSS "/css/social-icons.css"}}
    {{addCSS "/css/site.css"}}
    {{{writeCSS}}}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="nav-collapse">
    {{> nav }}
</div>

<div class="banner">
    <div class="banner-head">
        <div id="countdown"></div>
        <div class="pure-g">
			<div class="registerPointer"></div>
            <div class="pure-u-1-5">
                <img src="/static/img/logo.png">
            </div>
            <div class="pure-u-4-5">
                <h1>Right Hack<br>
                at it again!</h1>
                <div class="pure-g">
                    <div class="pure-u-1-2 date-loc">
                        <span class="date"><br>Nov 7 9am-9pm - <br> Nov 8 9am-9pm</span><br>
                        <a class="location" href="https://goo.gl/maps/JIEVs" target="_blank">Dunn Richmond Center - Carbondale, IL</a>
                    </div>
                    <div class="pure-u-1-2">
                        <a href="/register" class="pure-button">Register now!</a>
                        <a href="/volunteer" class="pure-button">Volunteer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{{content}}}

<div class="sponsors">
	<h2 class="title">Sponsors</h2>
	<div class="sponsors">
    <a href="http://liaison.com/" target="_blank"><img src="/static//img/liason.png"></a>
    <a href="http://siu.edu/" target="_blank"><img src="/static/img/siu.png"></a>
    <a href="http://www.harnessdigitalmarketing.com/" target="_blank"><img src="/static/img/harnessdm.png"></a>
    <br><hr>
    <a href="http://www.jgrinsurance.com/" target="_blank"><img src="/static/img/jgr.jpg"></a>
    <a href="http://www.littlecaesars.com/" target="_blank"><img src="/static/img/little-ceasar.png"></a>
    <a href="https://www.krispykreme.com/" target="_blank"><img src="/static/img/krispykreme.png"></a>
    <br><hr>
    <a href="http://www.nerdfitness.com/" target="_blank"><img src="/static/img/nf.png"></a>
    <a href="http://www.openspace.io/" target="_blank"><img src="/static/img/openspace.jpg"></a>
    <a href="http://www.skylermedia.com/" target="_blank"><img src="/static/img/skylermedia.gif"></a>
    <br><hr>
    <a href="http://usg.rso.siu.edu/" target="_blank"><img src="/static/img/USGseal.jpg"></a>
    <a href="http://www.ugcevents.com/" target="_blank"><img src="/static/img/UGC_Final.png"></a>
    <a href="https://www.rlc.edu/" target="_blank"><img src="/static/img/RLC_LOGO.png"></a>
    <br><hr>
    <a href="http://www.saucedupsmokers.com/" target="_blank"><img src="/static/img/SUS.jpg"></a>
    <a href="https://www.facebook.com/Printing-Plant-LLC-167217976624100" target="_blank"><img src="/static/img/PrintingPlant.jpg"></a>
    <a href="http://www.skyler.me/" target="_blank"><img src="/static/img/skyler.png"></a>
    <br><hr>
    <a href="https://www.nodesource.com/" target="_blank"><img src="/static/img/nodesource.png"></a>
    <a href="http://www.salukiscreenrepair.com/" target="_blank"><img src="/static/img/Saluki-Screen-Repair-Logo.png"></a>
	</div>
</div>

<div class="footer">
    <div class="pure-g">
        <div class="pure-u-1-2">&copy; 2013 - Hack SI - All rights reserved. - <a href="/code">Code of Conduct</a></div>
        <div class="pure-u-1-2 social">
            Follow us on: 
            <a href="/twitter" class="social-icon-twitter" title="Twitter"><span>Twitter</span></a>
            <a href="/github" class="social-icon-github" title="Github"><span>Github</span></a>
            <a href="/facebook" class="social-icon-facebook" title="Facebook"><span>Facebook</span></a>
            <a href="/flickr" class="social-icon-flickr" title="Flickr"><span>Flickr</span></a>
            <a href="/lanyrd" class="social-icon-lanyrd" title="Lanyrd"><span>Lanyrd</span></a>
            <a href="/google" class="social-icon-googleplus" title="Google+"><span>Google+</span></a>
        </div>
    </div>
    <div class="footer-nav">
    {{> nav }}
    </div>
</div>
<script src="/static/js/responsive-nav.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39639122-2', 'hacksi.me');
  ga('send', 'pageview');
 
 var nav = responsiveNav(".nav-collapse");
</script>
</body>
</html>
